*.base
*.cc
*.conf
*.cpp
*.crt
*.cs
*.db
*.deb
*.dll
*.env
*.exe
*.h
*.img
*.iso
*.jar
*.jks
*.json
*.keystore
*.log
*.mac
*.mk
*.p12
*.pem
*.pfx
*.prop
*.pub
*.py
*.rpm
*.rom
*.so
*.tar
*.tar.gz
*.vars
*.ver
*.xml
*.xz
*.zip
*.zsh
htpasswd
ccache
